{% extends 'base.html.twig' %}

{% block title %}create a message!{% endblock %}

{% block body %}
    <h1>create a message :</h1>
    {% include 'layouts/_message.html.twig' %}
    {% include 'message/_form.html.twig' with {
        'action': path('app_create_task' ), 'etiqueta_btn_enviar': 'Save'
    }  %}
{% endblock %}
